<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bootswatch@4.5.3/dist/superhero/bootstrap.min.css"
      integrity="sha256-euqHiWp/oC/b4rlkVSPfCPRBFzCYH8ivWmo4x5I61xY=" crossorigin="anonymous">
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css"
      integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous"/>