<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bootswatch@4.5.3/dist/minty/bootstrap.min.css"
      integrity="sha256-oVWgwShalchSn1o1+RisFPbJ0XEF+pD05MiVt6nQ5ko=" crossorigin="anonymous"/>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css"
      integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous"/>