<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/neoflat@4.4.2/dist/neoflat/bootstrap.min.css"
      integrity="sha256-I5HTXXI3ai0JRXhavIP0tflxERi5PiHd7TkM4tbVTME=" crossorigin="anonymous">
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css"
      integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous"/>